<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>로그인</title>
  </head>
  <body>
    <!-- form = GET/POST 메서드만 지원 -->
    <form action="#">
      <input type="text" name="username" value="" /> <br />
      <input type="text" name="password" value="" /> <br />
      <button type="button" onclick="onLogin()">로그인</button>
    </form>

    <p id="result_status">응답상태 :</p>
    <p id="result_message">메시지 :</p>

    <script>
      // fetch 함수를 통해 통신 날림
      // JS 실행되는 곳 -> 프론트(웹브라우저)
      function onLogin() {
        const arrayUsername = document.getElementsByName("username");
        const arrayPassword = document.getElementsByName("password");
        if (!arrayUsername[0].value) {
          // 유효성체크 = null, empty, undefined, NaN
          alert("아이디를 입력하세요.");
          return;
        }
        if (!arrayPassword[0].value) {
          // 유효성체크 = null, empty, undefined, NaN
          alert("비밀번호를 입력하세요.");
          return;
        }
        // 전체 경로로 호출해야 됨
        fetch("http://localhost:8080/api/v1/login", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          // JSON.stringify() : JS KV객체를 JSON형태의 문자열로 바꿔주는 함수
          body: JSON.stringify({
            username: arrayUsername[0].value,
            password: arrayPassword[0].value,
          }),
        })
          .then((response) => {
            console.log(">> HTTP통신 응답객체 리턴 : " + response);
            return response.json();
          }) // Promise-then패턴, HTTP 통신 응답 객체 리턴
          .then((json) => {
            // {status: "ok", message: "로그인 되었습니다."}
            console.log(">> 리턴받은 json : " + json);
            // 응답메시지 표시하기
            document.getElementById("result_status").innerText = json.status;
            document.getElementById("result_message").innerText = json.message;
          }) // Body의 JSON객체
          .catch((error) => {
            console.log(">> 에러 발생 : " + error);
          }); // 예외처리
      }
    </script>
  </body>
</html>
