<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h3 id="count" th:text="|카운트 : ${count}|">카운트 : 0</h3>
  <button onclick="plus();">더하기</button>
  <button onclick="minus();">빼기</button>
  <hr />
  <button onclick="JSver();">JS 버전</button>
  <button onclick="URLver();">URL 버전</button>

  <script>
    let count = document.getElementById("count")

    function plus(){
      fetch("/api/plus", {
        method: "GET",
        headers: {"Content-Type": "application/json"}
      })
      .then((response)=>{
        return response.json();
      })
      .then((json)=>{
        console.log("data : " + json);
        count.innerText = "카운트 : " + json;
      })
      .catch((error)=>{
        console.log("?? 에러문구 : " + error);
      })
    }
    function minus(){
      fetch("/api/minus", {
        method: "GET",
        headers: {"Content-Type": "application/json"}
      })
      .then((response)=>{
        return response.json();
      })
      .then((json)=>{
        console.log("data : " + json);
        count.innerText = "카운트 : " + json;
      })
      .catch((error)=>{
        console.log("?? 에러문구 : " + error)
      })
    }

    function JSver(){
      window.location.href="/count";
    }
    function URLver(){
      window.location.href="/";
    }
  </script>
</body>
</html>