<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>JWT api 폼</title>
  </head>
  <body>
    <h3>JWT 토큰 테스트</h3>
    <p>1. Postman으로 api테스트</p>

    <hr />

    <p>2. JS fetch()함수로 테스트</p>

    <h3>회원가입</h3>
    <p>POST | localhost:8080/api/users/signup</p>
    <button type="button" id="btn_signup" onclick="signup()">회원가입</button>

    <br />

    <h3>로그인</h3>
    <p>POST | localhost:8080/api/users/login</p>
    <button type="button" id="btn_login" onclick="login()">로그인</button>

    <br />

    <h3>마이페이지</h3>
    <p>POST | localhost:8080/api/users/mypage</p>
    <button type="button" id="btn_mypage" onclick="mypage()">마이페이지</button>

    <br />

    <h3>관리자페이지</h3>
    <p>POST | localhost:8080/api/users/admin</p>
    <button type="button" id="btn_admin" onclick="admin()">관리자페이지</button>

    <!--  JS 설정  -->
    <!--  HTML을 JS제어하기 위해서는 HTML DOM이 로딩되어야 하기 때문에 HTML 끝에 작성  -->
    <script>
      // KV객체(nember, string, object, function) - JAVA Map(class)
      // Json key "init": value
      //   let main = {
      //     init: function () {
      //
      //     },
      //   };

      // 객체의 함수 실행
      //   main.init();

      // 회원가입
      function signup() {
        // 프론트에서 POST로 파라미터를 body에 실어서 보낼때
        const data = new URLSearchParams();
        data.append("email", "test@naver.com");
        data.append("password", "1234");
        data.append("userRole", "ADMIN");

        // fetch함수는 promise/then 패턴을 사용
        // 비동기적 실행을 위해서 (async/await)
        fetch("http://localhost:8080/api/users/signup", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: data,
        })
          // response : HTTP 응답 객체
          // json() : body에 있는 문자열 데이터를 json KV객체로 변환
          .then((response) => {
            return response.json();
          })
          // json : json KV객체
          .then((json) => {
            console.log(">> 회원가입 id: " + json.id);
            console.log(">> email: " + json.email);
            console.log(">> password: " + json.password);
            console.log(">> role: " + json.userRole);
          })
          .catch((error) => {
            console.log(">> 회원가입 에러: " + error);
          });
      }

      // 로그인
      // 아이디/비밀번호를 인증하고, 권한(토큰) 획득
      // 이전 버전: session 객체에 인증 객체 저장
      // JWT 버전: JWT 토큰(문자열) 발행(응답) -> 웹브라우저에서 토큰을 쿠키/로컬스토리지에 저장하고 다음 요청부터 통행권처럼 사용
      function login() {
        const data = new URLSearchParams();
        data.append("email", "hong@naver.com"); //인증
        data.append("password", "1234"); //인증
        data.append("userRole", "ADMIN"); //권한-인가

        fetch("http://localhost:8080/api/users/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: data,
        })
          .then((response) => {
            return response.text();
          })
          .then((text) => {
            console.log(">> 로그인: " + text); //JWT토큰 응답
            localStorage.setItem("JWT_TOKEN", text); //JS 내장객체이므로 link(import) 안해도 됨
            // document.cookie = `JWT_TOKEN = ${text}`; //쿠키 저장 방법
          })
          .catch((error) => {
            console.log(" >> 로그인 에러: " + error);
          });
      }

      // 마이페이지(ROLE_USER)
      function mypage() {
        fetch("http://localhost:8080/api/users/mypage", {
          method: "GET",
          headers: {
            JWT_TOKEN: localStorage.getItem("JWT_TOKEN"),
          },
        })
          .then((response) => {
            return response.json();
          })
          .then((json) => {
            console.log(">> 마이페이지: " + json);
            console.log(">> email: " + json.email);
            console.log(">> password: " + json.password);
            console.log(">> role: " + json.userRole);
          })
          .catch((error) => {
            console.log(">> 마이페이지 에러: " + error);
          });
      }

      // 관리자페이지(ROLE_ADMIN)
      function admin() {
        fetch("http://localhost:8080/api/users/admin", {
          method: "GET",
          headers: {
            JWT_TOKEN: localStorage.getItem("JWT_TOKEN"),
          },
        })
          .then((response) => {
            return response.json();
          })
          .then((json) => {
            console.log(">> 관리자: " + json);
            json.forEach((item) => {
              console.log(item.id);
              console.log(item.email);
              console.log(item.password);
              console.log(item.userRole);
            });
          })
          .catch((error) => {
            console.log(">> 관리자 에러: " + error);
          });
      }
    </script>
  </body>
</html>
