<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>메인화면</title>
    </head>
    <body>

        <h3>메인화면</h3>

        <!-- authorize : 로그인 상태나 권환을 확인해서 화면을 보여줄지 결정하는 태그 -->
        <!-- isAuthenticated() : 로그인한 사용자 일 때 true이면 span text가 표시됨 false면 사라짐 -->
        <!-- isAnonymous() : 로그아웃한 사용자 일 때 true이면 span text가 표시됨 false면 사라짐 -->
        로그인여부(isAuthenticated()) :
            <span sec:authorize="isAuthenticated()">인증 후 - 로그인 상태</span>
            <br>
        로그인여부(isAnonymous()) :
            <span sec:authorize="isAnonymous()">인증 전 - 로그아웃 상태</span>
            <br>
        <hr>

        <th:block sec:authorize="isAuthenticated()">
            <form action="logoutAction" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <button type="submit">로그아웃</button>
            </form>
        </th:block>
        <th:block sec:authorize="isAnonymous()"><a th:href="@{/loginForm}">로그인</a></th:block>
        <hr>

        권한/역할/인가(hasRole('USER')) :
            <span sec:authorize="hasRole('USER')">일반회원</span>
            <br>
        권한/역할/인가(hasRole('ADMIN')) :
            <th:block sec:authorize="hasRole('ADMIN')">
                <span>관리자</span>
                <a th:href="@{/admin}">관리자 페이지 이동</a>
            </th:block>
        <hr>

    </body>
</html>
